
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login {
    width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;

 
}

.section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
}
.formh1{
    font-size: 2.3rem;
    font-weight: 700;
}


.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.inputlogin{
                width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
}
.inputlogin::placeholder{
    font-weight: 300;
}

label,
button {
  margin-top: 1rem;
  border-radius: 8px;
  border:none;
  cursor: pointer;
}

button {
  padding: 0.5rem;
  margin-bottom: 0;
  background-color: teal;
            color: white;
            

}
a,a:visited{
    color:teal;
    text-decoration: none;
    font-weight: 800;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    margin-bottom: 20px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    position: absolute;
    left: -9999px;
   

}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
    position: relative;
    top:3px

}

.invalid {
    color: red;
    margin-left: 0.25rem;
    position: relative;
    top:3px
}

.errmsg {
    color: rgb(255, 22, 22);
    font-weight: bold;

    margin-top: 0;
    font-weight: 300;
    font-size: small;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.guest,.guest:visited{
    margin-left: 0 auto;
position: relative ;
top:25px;
color:gray;
font-weight: 500;
font-size: 13px;
}
